<div class="jumbotron">
  <h1>Twitter for Tech Talent South</h1>
  <p>This is an app for recreating twitter.</p>
  <p><a class="btn btn-primary btn-lg">This goes no where</a></p>
</div>

<% if user_signed_in? %>
<div class="col-md-6">
	<div id="map-canvas"></div>
</div>


<% if current_user.tweets.empty? %>

<p>No tweets yet!</p>

<p>Start tweeting:</p>


<% else %>

<% current_user.tweets.each do |tweet| %>

<p><%= tweet.message %></p>

<% end %>


<% end %>

<%= render 'tweets/form' %>

<% else %>


<div class="container">

<div class="col-md-6">

	<h3>Welcome Back! Sign In:</h3><br />


		<%= form_for(:user, :url => session_path(:user)) do |f| %>

		<p><strong>Email:</strong> <%= f.text_field :email %></p>

		<p><strong>Password:</strong> <%= f.password_field :password %></p>

		<p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>

		<p><%= f.submit 'Sign In' %></p>

		<p><%= link_to "Forgot your password?", new_password_path(:user) %></p>

	<% end %>

</div>



<div class="col-md-6">

<h3>Not yet registered?</h3><br />


	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>



	<p><%= f.label :email %><br />

	<%= f.email_field :email, autofocus: true %></p>



	<p><%= f.label :name %><br />

	<%= f.text_field :name %></p>


	<p><%= f.label :username %><br />

	@<%= f.text_field :handle %></p>



	<p><%= f.label :password %><br />

	<%= f.password_field :password, autocomplete: "off" %></p>



	<p><%= f.label :password_confirmation %><br />

	<%= f.password_field :password_confirmation, autocomplete: "off" %></p>



<div><%= f.submit "Sign up" %></div>

<% end %>

</div>

</div>

<% end %>